@media (max-width: 1024px) {
  .about__title {
    max-width: 70%;
  }

  .about__description {
    max-width: 85%;
  }

  .about__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__left-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .about__image_mini:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 0;
  }

  .about__image_big {
    width: 100%;
  }

  .game__form {
    width: calc(50% - 16px);
  }

  .game__image {
    width: calc(50% - 16px);
  }

  .game__title {
    width: calc(50% - 16px);
    background-position: left top 31px;
    padding-top: 179px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .game__description {
    width: calc(50% - 16px);
    margin-bottom: 13px;
  }

  .game__image {
    position: absolute;
    right: 36px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(46.5% - 16px);
    margin-top: 56px;
  }

  .form-label {
    padding-top: 51px;
    padding-bottom: 29px;
  }

  .hp__left {
    padding-top: 43px;
  }

  .hp__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logos-separator {
    margin: 24px 0;
  }

  .hp__container {
    padding-bottom: 70px;
  }

  .buy__image {
    width: 32.5%;
    max-width: 332px;
  }

  .buy__content {
    width: calc(100% - 32.5%);
  }
}

@media (max-width: 768px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__logo {
    display: inline-block;
    margin-bottom: 10px;
  }

  .hp__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hp__left {
    width: 100%;
    padding-top: 0;
  }

  .hp__right {
    width: 100%;
  }

  .buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .buy__image {
    position: static;
    width: 100%;
    max-width: none;
  }

  .buy__container {
    display: block;
  }

  .buy__content {
    width: 100%;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__link:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }

  .footer__top {
    padding-top: 40px;
  }

  .footer__left {
    margin-bottom: 45px;
  }

  .game__image {
    position: static;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
  }

  .game__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .game__form {
    width: 100%;
  }

  .game__title {
    width: 100%;
  }

  .game__description {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about__title {
    max-width: 100%;
  }

  .social-list__link {
    width: 25px;
    height: 25px;
  }

  .social-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .container {
    padding-right: 12px;
    padding-left: 12px;
  }

  .hero__container {
    padding-right: 0;
    padding-left: 0;
  }

  .hero-info__title {
    font-size: 30px;
    line-height: 31px;
    max-width: 420px;
  }

  .hero {
    height: 763px;
  }

  .hero-info {
    padding: 30px 20px;
    text-align: center;
  }

  .hero-info__btn {
    padding: 10px 50px;
    font-size: 20px;
    line-height: 40px;
  }

  .site-title {
    font-size: 30px;
    line-height: 31px;
  }

  .about__description {
    max-width: 100%;
    font-size: 16px;
    line-height: 32px;
  }

  .about__left-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about__image_mini:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about__left-block {
    margin-bottom: 32px;
  }

  .corner-block {
    -webkit-clip-path: polygon(14% 0, 100% 0, 100% 80%, 86% 100%, 0 100%, 0 20%);
    clip-path: polygon(14% 0, 100% 0, 100% 80%, 86% 100%, 0 100%, 0 20%);
  }

  .corner-block-big {
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 80%, 70% 100%, 0 100%, 0 20%);
    clip-path: polygon(30% 0, 100% 0, 100% 80%, 70% 100%, 0 100%, 0 20%);
  }
}